body{
  margin: 0;
  font-family: "Roboto";
  font-weight: bold;
  font-style: italic;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
header{
  background-color: lightblue;
  
  padding: 300px;
  height: 20vh;
  margin:0;
width: 100;
  border-radius: 0px;}
.h{
  background-color: rgb(247, 250, 247); 
  padding: 5px;
  margin: 0px;
  border-radius: 9px;
  font-size: 16px;
  cursor: pointer;
  
  
  }
.h:hover {
  background-color: rgb(87, 246, 29);
}
.header h1{
  margin:0;
}
h2{
  color: blue;
  font-size: 40px;
  font-weight: bold;
}
.about{
background-color: rgb(249, 252, 253);
  padding-top:100px;
  padding-bottom: 500px;
  height: 20vh;
  margin:30px;
width: 100;
  border-radius: 40px;
border: 3px solid black;}
.skills{  background-color: rgb(247, 251, 253);
 
  padding: 300px;
  height: 20vh;
  margin:30px;
width: 100;
  border-radius: 40px;

  justify-content: center;
border: 3px solid black;}
.projects{
  background-color: rgb(245, 248, 249);
  padding: 300px;
  height: 20vh;
  margin:30px;
width: 100;
  border-radius: 40px;
  
border: 3px solid black;}
.contact{  background-color: rgb(245, 248, 249);
  
  padding: 300px;
  height: 20vh;
  margin:30px;
width: 100;
  border-radius: 40px;
border: 3px solid black;}
table{
  width: 100%;
  border-collapse: collapse;
  margin:auto;
  text-align: center;}
  table, th, td{
    border: 1px solid black;
    padding: 10px;
    
  }
  ol{
    text-align: center;
    font-size: 20px;
    list-style-position: inside;
    
  }
  .li{
    margin: 10px 0;
    padding: 5px;
  }